@model IEnumerable<LibraryBazzar.Models.Book>

@{
    ViewData["Title"] = "Shopping the books 😊";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>@ViewData["Title"]</h1>


<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Author)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Genre)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Synopsis)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Price)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Author)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Genre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Synopsis)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Price)
            </td>
            <td>
                    @if (User.Identity.IsAuthenticated)
                    {
                        <form class ="d-inline" asp-action="AddToCart">

                            <input type="hidden" name="BookId" value="@item.BookId"/>
                            <input type="hidden" name="quantity" value="1"/>

                            <input type="submit" value="AddToCart" class="btn btn-primary"/>

                            
                        </form>
                    }
                    <a class="btn btn-primary" asp-action="ReviewDetails" asp-route-id="@item.BookId">View Reviews</a>
                </td>
        </tr>
}
    </tbody>
</table>
