@model IEnumerable<LibraryBazzar.Models.Order>

@{
    ViewData["Title"] = "Orders";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>@ViewData["Title"]</h1>


<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Total)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ShippingAddress)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PaymentReceived)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PaymentMethod)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.User)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Cart)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Total)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ShippingAddress)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PaymentReceived)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PaymentMethod)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.User.Id)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Cart.Id)
                </td>
                <td>
                    
                    <a class="btn primary-btn" asp-action="OrderDetails" asp-route-id="@item.Id">Details</a> 
                    
                </td>
            </tr>
        }
    </tbody>
</table>
