@model LibraryBazzar.Models.Book

@{
    ViewData["Title"] = "Reviews";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>@ViewData["Title"]</h1>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Review.FirstOrDefault().Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Review.FirstOrDefault().ReviewDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Review.FirstOrDefault().Rating)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Review.FirstOrDefault().Comments)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Review.FirstOrDefault().Book)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Review)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Title)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ReviewDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Rating)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Comments)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Book.Title)
                </td>
                <td>

                    <a class="btn btn-primary" asp-action="DetailsOfReview" asp-route-id="@item.ReviewId">Review Details</a>
                    
                </td>
            </tr>
        }
    </tbody>
</table>

<a class="btn btn-primary" asp-action="Index">Back to List</a>
